{{>/includes/header}}
<div class="col-sm-12">
    <h2>Board Read</h2>
    <form class="actionForm">
        <div class="form-group">
            <label>Bno</label>
            <input type="text" class="form-control" name="bno" value="{{boardDTO.bno}}" readonly>
        </div>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" value="{{boardDTO.title}}" readonly>
        </div>
        <div class="form-group">
            <label>Writer</label>
            <input type="text" class="form-control" name="writer" value="{{boardDTO.writer}}" readonly>
        </div>
        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" rows="3" name="content" readonly>{{boardDTO.content}}</textarea>
        </div>
    </form>
    <button type="button" class="btn btn-primary">GO LIST</button>
    <button type="button" class="btn btn-warning">MODIFY</button>
    <button type="button" class="btn btn-danger">DELETE</button>
</div>
{{>/includes/footer}}


